*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#1f4037,#99f2c8);
}

.calculator{
    width:420px;
    background:#222;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

#display{
    width:100%;
    height:70px;
    border:none;
    outline:none;
    border-radius:10px;
    margin-bottom:15px;
    padding:10px;
    text-align:right;
    font-size:28px;
    background:#333;
    color:white;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:60px;
    border:none;
    border-radius:10px;
    background:#444;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#666;
}

.wide{
    background:#ff9800;
}

.equal{
    grid-column:span 4;
    background:#28a745;
    font-size:24px;
}

.equal:hover{
    background:#218838;
}